* {
	margin: 0;
	padding: 0
}

body {
	width: 1000px;
	height: 500px;
	background: url('../images/background.jpg');
	background-repeat: no-repeat;
}

#gameCanvas {
	display: inline-block;
	position: absolute;
}
#gameCanvas2 {
	display: inline-block;
	position: absolute;
}

#btnStartGame {
	width: 250px;
	height: 100px;
	display: inline-block;
	position: absolute;
	margin-left: 375px;
	margin-top: 175px;
	font-size: 36px;
}

#labelDifficulty {
	display: inline-block;
	position: absolute;
	margin-left: 370px;
	margin-top: 295px;
	font-size: 20px;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	color: #3399ff;
}

#selectDifficulty {
	display: inline-block;
	position: absolute;
	margin-left: 545px;
	margin-top: 295px;
	font-size: 20px;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	color: #3399ff;
	background-color: transparent;
	border-radius: 20px;
	border:1px solid #3399ff;
}

#gameOverContainer {
	width: 250px;
	height: 200px;
	display: inline-block;
	position: absolute;
	margin-left: 375px;
	margin-top: 125px;
	font-size: 36px;
	text-align: center;
}

#scoreSpan {
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	font-size: 24px;
}

#tryAgainButton {
	margin-top: 15px;
	background-color: #3399ff;
	border: 1px solid #3399ff;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	font-size: 36px;
	color: white;
}

.window {
	border-radius: 20px;
	background-color: #3399ff;
	color: white;
	border: 3px solid white;
	font-family: 'Comic Sans MS', cursive, sans-serif;
}
